ymlversion: 2.1
jobs:
  mirror:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: Push to organization repo
          command: |
            git config --global user.name "kazakuteng"
            git config --global user.email "poo0404@naver.com"
            git remote add org https://x-access-token:${ORG_PUSH_PAT}@github.com/SSAFY-15/chango_study.git
            git push org main --force
workflows:
  version: 2
  mirror-to-org:
    jobs:
      - mirror
